CREATE TABLE IF NOT EXISTS public.seller_notifications (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  store_id UUID REFERENCES public.stores(id) ON DELETE CASCADE NOT NULL,
  order_id UUID REFERENCES public.orders(id) ON DELETE CASCADE,
  type TEXT NOT NULL,
  message TEXT NOT NULL,
  is_read BOOLEAN DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.seller_notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Sellers
can
view
own
notifications\ ON public.seller_notifications FOR SELECT 
USING (EXISTS (SELECT 1 FROM stores WHERE stores.id = seller_notifications.store_id AND stores.owner_id = auth.uid()));

CREATE POLICY \Sellers
can
update
own
notifications\ ON public.seller_notifications FOR UPDATE 
USING (EXISTS (SELECT 1 FROM stores WHERE stores.id = seller_notifications.store_id AND stores.owner_id = auth.uid()));
